{{# @name Layout @desc The default layout file. #}}
<!-- /layout.antlers.html -->
<!DOCTYPE html>
<html lang="{{ site:short_locale }}" class="scroll-smooth antialiased">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, viewport-fit=cover"
        />
        <meta
            name="keywords"
            content="Living Streams Christian Church, Singapore Christian Church, Christian Worship Singapore, Bible-Based Church Singapore, Youth Ministry Singapore, Christian Fellowship, Church Services Singapore, Christian Events Singapore, Christian Youth Activities, Church Camp Singapore, Faith-Based Community Singapore, Worship Services Singapore, Bible Study Singapore, Christian Outreach Singapore, Youth Fellowship Singapore, Bible Believing Church Singapore, Church Family Events, Christian Discipleship Singapore, Evangelistic Outreach Singapore, Christian Retreat Singapore"
        />

        <!-- Analytics -->
        <script
            defer
            src="https://cloud.umami.is/script.js"
            data-website-id="f916a783-2183-4d2d-9bef-6bf46eb0476f"
        ></script>

        <!-- Styles -->
        {{ vite src="resources/css/site.css|resources/js/site.js" }}
        <link
            rel="preload"
            as="style"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
            media="print"
            onload="this.media='all'"
        />

        <!-- Scripts -->

        <script
            defer
            src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
        ></script>

        <!-- SEO and Site Tools -->
        {{ stack:head }}
        {{ partial:statamic-peak-seo::snippets/seo }}
        {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
        {{ partial:statamic-peak-tools::snippets/live_preview }}
    </head>
    <body
        class="selection:bg-primary flex min-h-screen flex-col overflow-x-hidden bg-white selection:text-white"
    >
        <div id="smooth-wrapper">
            <div id="smooth-content">
                {{ stack:seo_body }}
                {{ partial:statamic-peak-tools::snippets/noscript }}
                {{ partial:statamic-peak-tools::navigation/skip_to_content }}
                {{ partial:statamic-peak-tools::components/toolbar }}
                {{ partial:layout/header }}
                {{ template_content }}
                {{ partial:layout/footer }}
            </div>
        </div>
    </body>
</html>
<!-- End: /layout.antlers.html -->
