{{# @name Layout @desc The default layout file. #}}
<!-- /layout.antlers.html -->
<!DOCTYPE html>
<html
    lang="{{ site:short_locale }}"
    class="scroll-pt-4 scroll-smooth antialiased"
>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, viewport-fit=cover"
        />

        {{ vite src="resources/css/site.css|resources/js/site.js" }}
        {{ partial:statamic-peak-seo::snippets/seo }}
        {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
        {{ partial:statamic-peak-tools::snippets/live_preview }}
        <script
            src="https://kit.fontawesome.com/eb16bb9206.js"
            integrity="sha384-2jO+2EGcO2dQwZSC8o3nT2l4SXloyiN5HsotegA7T5eBmCe59RuRXfZYZ+yu1R/q"
            crossorigin="anonymous"
        ></script>
    </head>
    <body
        class="selection:bg-primary flex min-h-screen flex-col bg-white selection:text-white"
    >
        <div id="smooth-wrapper">
            <div id="smooth-content">
                {{ stack:seo_body }}
                {{ partial:statamic-peak-tools::snippets/noscript }}
                {{ partial:statamic-peak-tools::navigation/skip_to_content }}
                {{ partial:statamic-peak-tools::components/toolbar }}
                {{ partial:layout/header }}
                {{ template_content }}
                {{ partial:layout/footer }}
            </div>
        </div>
    </body>
</html>
<!-- End: /layout.antlers.html -->
