# Node & Vite
/node_modules
/public/build/
/public/hot
/public/static/
npm-debug.log
yarn-error.log

# Laravel
/vendor
/storage/*.key
/storage/app/public/*
/public/storage
/.phpunit.cache
.env

# Statamic
/public/vendor/statamic
/public/vendor/statamic-peak-tools
/resources/blueprints/*.yaml.bak
.antlers.json

# System / OS / Editor junk
.DS_Store
Thumbs.db

# Homestead
Homestead.json
Homestead.yaml

# Misc
/users
