{{#
    @name Footer
    @desc The site's footer rendered on each page.
#}}
<!-- /layout/_footer.antlers.html -->
<footer class="mt-auto w-full border-t border-white/8 bg-black text-white">
    <div class="span-content grid grid-cols-12">
        <!-- Column 1: Logo and Contact Info -->
        <div
            class="col-span-12 px-12 py-10 md:col-span-6 md:py-20 md:py-40 md:pe-20"
        >
            <!-- Logo and Site Name -->
            {{ partial:components/logo class="w-50" is_footer="true" }}
            <!-- UEN -->
            {{ partial:typography/p class="pt-4" content="{{ trans:strings.uen }}" color="#FFFFFF" }}
            <!-- Meeting Information -->
            {{ partial:typography/p class="pt-6 font-mono" content="{{ trans:strings.meeting_first_sunday }}" color="#FFFFFF" }}
            {{ partial:typography/p class="pt-1 font-mono" content="{{ trans:strings.meeting_other_sundays }}" color="#FFFFFF" }}
            <!-- Contact Info -->
            <div class="mt-8">
                {{ partial:typography/p class="mb-8 text-lg" content="{{ trans:strings.contact_message }}" color="#FFFFFF" }}
                {{ partial:typography/p content="<a href='mailto:info@lscc.org.sg' class='text-white underline hover:text-gray-400'>info@lscc.org.sg</a>" color="#FFFFFF" }}
                {{ partial:typography/p content="<a href='tel:+6584077262' class='text-white underline hover:text-gray-400'>+65 84077262</a>" color="#FFFFFF" }}
                {{ partial:typography/p content="<a href='https://maps.app.goo.gl/UP3zKkkXrDyR6mFu8' target='_blank' class='text-white underline hover:text-gray-400'>56/56A Boundary Road Singapore 549977</a>" color="#FFFFFF" }}
                <!-- Office Hours -->
                <div class="mt-8">
                    {{ partial:typography/p class="font-semibold" content="{{ trans:strings.office_hours }}" color="#FFFFFF" }}
                    {{ partial:typography/p class="font-mono " content="{{ trans:strings.office_hours_weekdays }}" color="#FFFFFF" }}
                    {{ partial:typography/p class="font-mono last:mb-6" content="{{ trans:strings.office_hours_saturday }}" color="#FFFFFF" }}
                </div>

                <!-- Follow Us On -->
                <div class="flex items-center gap-x-3 pt-8 md:order-none">
                    {{ partial:typography/p class="first:mb-0 text-lg font-semibold" content="{{ trans:strings.follow_us_on }}" color="#FFFFFF" }}
                    {{ if social_media:social_media }}
                        {{ social_media:social_media }}
                            <a
                                href="{{ prefix }}{{ handle }}"
                                rel="noopener{{ type == 'mastodon' ?= ' me' }}"
                                aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}"
                                target="_blank"
                                class="flex h-6 w-6 items-center justify-center transition-colors duration-300 hover:text-gray-400 md:h-8 md:w-8"
                            >
                                {{ svg :src="type" class="w-8 h-8 md:w-6 md:h-6 overflow-visible fill-current" alt="" aria-hidden="true" }}
                            </a>
                        {{ /social_media:social_media }}
                    {{ /if }}
                </div>
            </div>
        </div>

        <!-- Vertical Divider -->
        <div class="hidden border-l border-white/8 md:block"></div>

        <!-- Column 2: Navigation -->
        <div
            class="col-span-12 flex flex-col py-10 font-bold md:col-span-5 md:flex-row md:py-20 md:py-40"
        >
            <div
                class="grid grid-cols-1 gap-8 px-12 md:justify-center lg:grid-cols-2 lg:text-center"
            >
                {{ nav:main max_depth="2" include_home="true" select="title|url|children" }}
                    {{ unless no_results }}
                        {{ if children }}
                            <!-- If there are child links, loop through them -->
                            {{ children }}
                                <a
                                    href="{{ url }}"
                                    class="text-xl text-white hover:text-gray-400"
                                    {{ is_current ?= 'aria-current="page"' }}
                                >
                                    {{ title }}
                                </a>
                            {{ /children }}
                        {{ else }}
                            <!-- If there are no children, show the parent -->
                            <a
                                href="{{ url }}"
                                class="text-xl text-white hover:text-gray-400"
                                {{ is_current ?= 'aria-current="page"' }}
                            >
                                {{ title }}
                            </a>
                        {{ /if }}
                    {{ /unless }}
                {{ /nav:main }}
            </div>
        </div>
    </div>
</footer>
<!-- End: /layout/_footer.antlers.html -->
