{{# @name Footer @desc The site's footer rendered on each page. #}}
<!-- /layout/_footer.antlers.html -->
<footer class="mt-auto w-full bg-black text-white">
    <div class="span-content grid grid-cols-12">
        <!-- Column 1: Logo and Contact Info -->
        <div class="col-span-12 px-12 py-20 md:col-span-6 md:py-40 md:pe-20">
            <!-- Logo and Site Name -->
            {{ partial:components/logo class="w-50" is_footer="true" }}
            <!-- Meeting Information -->
            <p class="mt-6 font-mono">
                <strong>Sunday</strong>
                :
                <i>Combined</i>
                10:30am
            </p>
            <p class="mt-1 font-mono">
                <strong>Other Sundays</strong>
                :
                <i>Youth</i>
                10:30am |
                <i>Chinese</i>
                2:30pm
            </p>

            <!-- Contact Info -->
            <div class="mt-8 text-sm text-xl">
                <p class="mb-4">
                    No matter the situation, you can always feel free to reach
                    out, even if it’s just to say hi 👋
                </p>
                <p class="mt-6">
                    <a
                        href="mailto:livingstreams56@gmail.com"
                        class="text-white underline hover:text-gray-400"
                    >
                        livingstreams56@gmail.com
                    </a>
                </p>
                <p class="mt-6">
                    <a
                        href="tel:+6584077262"
                        class="text-white underline hover:text-gray-400"
                    >
                        +65 84077262
                    </a>
                </p>
                <p class="mt-6">
                    <a
                        href="https://maps.app.goo.gl/UP3zKkkXrDyR6mFu8"
                        target="_blank"
                        class="text-white underline hover:text-gray-400"
                    >
                        56/56A Boundary Road Singapore 549977
                    </a>
                </p>
            </div>
        </div>
        <!-- Vertical Divider -->
        <div class="hidden border-l border-white/8 md:block"></div>

        <!-- Column 2: Navigation -->
        <div
            class="col-span-12 flex flex-col gap-4 py-20 font-bold md:col-span-5 md:flex-row md:py-40"
        >
            <div class="grid grid-cols-2 gap-4 px-12">
                {{ nav:main max_depth="2" include_home="true" select="title|url" }}
                    {{ unless no_results }}
                        <a
                            href="{{ url }}"
                            class="text-xl text-white hover:text-gray-400"
                            {{ is_current ?= 'aria-current="page"' }}
                        >
                            {{ title }}
                        </a>
                    {{ /unless }}
                {{ /nav:main }}
                <div class="order-last flex items-center gap-x-3 md:order-none">
                    <span class="text-lg font-semibold">
                        {{ trans:strings.follow_us_on }}
                    </span>
                    <!-- Text for Follow Us on -->
                    {{ if social_media:social_media }}
                        {{ social_media:social_media }}
                            <a
                                href="{{ prefix }}{{ handle }}"
                                rel="noopener{{ type == 'mastodon' ?= ' me' }}"
                                aria-label="{{ config:app:name }} {{ trans:strings.on }} {{ type | title }}"
                                target="_blank"
                                class="flex h-6 w-6 items-center justify-center transition-colors duration-300 hover:text-gray-400 md:h-8 md:w-8"
                            >
                                <!-- Social media icons with larger size -->
                                {{ svg :src="type" class="w-8 h-8 md:w-6 md:h-6 overflow-visible fill-current" alt="" aria-hidden="true" }}
                            </a>
                        {{ /social_media:social_media }}
                    {{ /if }}
                </div>
            </div>
        </div>
    </div>
    <div class="text-md border-t border-white/8 p-5">
        &copy; {{ configuration:copyright_since }}
        {{ unless (now | format('Y')) == configuration:copyright_since }}
            - {{ now | format('Y') }}
        {{ /unless }}
        {{ configuration:copyright_name ?? config:app:name }}
    </div>
</footer>
<!-- End: /layout/_footer.antlers.html -->
