{{#
    @name Header
    @desc The site's header rendered on each page.
#}}
<!-- /layout/_header.antlers.html -->
<header
    x-data="{ scrolled: false, showHeader: true, lastScroll: window.scrollY }"
    x-init="
    const threshold = $el.offsetHeight * 0.5;
    const detect = () => {
        const current = window.scrollY;
        scrolled = current > threshold;
        showHeader = current < lastScroll || current <= 0;
        lastScroll = current;
    };

    detect();
    window.addEventListener('scroll', detect);
"
    :class="{
        'bg-neutral-950/60 backdrop-blur shadow-lg text-white': scrolled,
        'translate-y-0': showHeader,
        '-translate-y-full': !showHeader
    }"
    class="fixed top-0 left-0 z-50 w-full px-3 transition-all duration-300 ease-in-out lg:px-10"
>
    <div class="span-content flex items-center justify-between py-3 lg:pt-6">
        {{ partial:components/logo class="w-16 lg:w-20" }}
        {{ partial:navigation/main }}
    </div>
</header>

<!-- End: /layout/_header.antlers.html -->
