{{#
    @name Language picker
    @desc A language picker when you use multisite.
#}}

<!-- /navigation/_language_picker.antlers.html -->

<ul class="flex bg-white shadow-md">
    {{ locales current_first="false" }}
        <li class="flex">
            <a
                class="{{ is_current ?= 'bg-blue-600 text-white' }} px-3 py-2 uppercase transition-colors duration-200 hover:bg-blue-700 hover:text-white dark:hover:bg-blue-500 dark:hover:text-white"
                href="{{ url }}"
            >
                {{ locale:handle }}
            </a>
        </li>
    {{ /locales }}
</ul>

<!-- End: /navigation/_language_picker.antlers.html -->
