{{#
    @name Main mobile navigation
    @desc The site's main mobile navigation rendered on each page. It's 2 levels deep by default and uses AlpineJS for interactivity.
#}}

<nav
    x-data="{ mobileNavOpen: false }"
    class="md:hidden"
    aria-label="{{ trans:strings.main_navigation }}"
    x-trap.inert.noscroll.noautofocus="mobileNavOpen"
    @keyup.escape.stop.prevent="mobileNavOpen = false"
    x-cloak
>
    <div class="flex items-center justify-between gap-x-8 px-3 md:px-10">
        {{ partial:navigation/language_picker }}
        <!-- Hamburger Toggle -->
        <button
            @click.prevent.stop="mobileNavOpen = !mobileNavOpen"
            x-ref="hamburgerButton"
            class="bg-primary z-30 flex h-10 w-10 items-center justify-center rounded-sm text-white"
            :class="mobileNavOpen ? 'nav-open' : ''"
            :aria-label="mobileNavOpen ? '{{ trans:strings.nav_close }}' : '{{ trans:strings.nav_open }}'"
            :aria-expanded="mobileNavOpen"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="h-6 w-6"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
            >
                <line x1="4" y1="6" x2="20" y2="6" class="icon-line line-top" />
                <line
                    x1="4"
                    y1="12"
                    x2="20"
                    y2="12"
                    class="icon-line line-middle"
                />
                <line
                    x1="4"
                    y1="18"
                    x2="20"
                    y2="18"
                    class="icon-line line-bottom"
                />
            </svg>
        </button>

        <!-- Mobile Overlay -->
        <div
            x-show="mobileNavOpen"
            x-transition:enter="motion-safe:transition motion-safe:ease-out motion-safe:duration-300"
            x-transition:enter-start="motion-safe:opacity-0 motion-safe:-translate-y-10"
            x-transition:enter-end="motion-safe:opacity-100 motion-safe:translate-y-0"
            x-transition:leave="motion-safe:transition motion-safe:ease-in motion-safe:duration-200"
            x-transition:leave-start="motion-safe:opacity-100 motion-safe:translate-y-0"
            x-transition:leave-end="motion-safe:opacity-0 motion-safe:-translate-y-10"
            class="fixed inset-0 z-20 flex h-screen flex-col bg-white/90 px-6 pt-24 pb-16 backdrop-blur-sm"
            @keydown.escape.window="mobileNavOpen = false; $nextTick(() => $refs.hamburgerButton.focus())"
        >
            <ul
                x-show="mobileNavOpen"
                x-transition:enter="motion-safe:transition motion-safe:ease-out motion-safe:duration-300 motion-safe:delay-100"
                x-transition:enter-start="motion-safe:opacity-0 motion-safe:translate-y-2"
                x-transition:enter-end="motion-safe:opacity-100 motion-safe:translate-y-0"
                x-transition:leave="motion-safe:transition motion-safe:ease-in motion-safe:duration-200"
                x-transition:leave-start="motion-safe:opacity-100 motion-safe:translate-y-0"
                x-transition:leave-end="motion-safe:opacity-0 motion-safe:translate-y-2"
                class="mx-auto flex w-full max-w-md flex-col items-center justify-start gap-y-6 px-4"
            >
                {{ nav:main max_depth="2" include_home="true" select="title|url" }}
                    {{ unless no_results }}
                        <li
                            {{ if children }}
                            x-data="{ subnavOpen: $root.querySelector('[aria-current=page]') ? true : false }"
                            @focusin.window="!$refs.subnav.contains($event.target) && (subnavOpen = false)"
                            {{ /if }}
                            class="w-full text-center"
                        >
                            <a
                                class="{{ is_current || is_parent ? 'text-primary' : 'text-neutral-900' }} hover:text-primary flex w-full items-center justify-center gap-x-2 text-3xl font-bold transition hover:translate-x-1 motion-safe:duration-300"
                                {{ if children }}
                                href="#"
                                @click.prevent="subnavOpen = !subnavOpen"
                                @click.outside="subnavOpen = false"
                                :aria-label="subnavOpen ? '{{ trans:strings.subnav_close }}' : '{{ trans:strings.subnav_open }}'"
                                :aria-expanded="subnavOpen"
                                {{ else }}
                                href="{{ url }}"
                                @click="mobileNavOpen = false"
                                {{ /if }}
                                {{ is_current ?= 'aria-current="page"' }}
                            >
                                <span>{{ title }}</span>
                                {{ if children }}
                                    <div
                                        :class="{ 'scale-y-[-1]': subnavOpen }"
                                        class="motion-safe:transition-transform"
                                    >
                                        {{ svg:chevron_down attr:class="w-2 ml-1 stroke-current text-neutral" attr:aria-hidden="true" }}
                                    </div>
                                {{ /if }}
                            </a>
                            {{ if children }}
                                <ul
                                    x-show="subnavOpen"
                                    x-ref="subnav"
                                    class="mt-2 flex flex-col items-center gap-y-2 text-xl font-normal"
                                    x-collapse
                                >
                                    {{ children }}
                                        <li>
                                            <a
                                                class="{{ is_current || is_parent ? 'text-primary' : 'text-neutral-700' }} hover:text-primary block py-1 transition hover:translate-x-1 motion-safe:duration-300"
                                                href="{{ url }}"
                                                @click="mobileNavOpen = false"
                                                {{ is_current ?= 'aria-current="page"' }}
                                            >
                                                {{ title }}
                                            </a>
                                        </li>
                                    {{ /children }}
                                </ul>
                            {{ /if }}
                        </li>
                    {{ /unless }}
                {{ /nav:main }}
            </ul>
        </div>
    </div>
</nav>
