/* Mobile Nav style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon-line {
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}

.nav-open .line-top {
    transform: rotate(45deg) translateY(6px);
}

.nav-open .line-middle {
    opacity: 0;
}

.nav-open .line-bottom {
    transform: rotate(-45deg) translateY(-6px);
}
