@import "tailwindcss";
@import "./peak.css";
@import "./typography.css";

@theme {
    --color-primary: oklch(53.24% 0.301 290.86);

    --color-neutral: var(--color-slate-800);
    --color-neutral-50: var(--color-slate-50);
    --color-neutral-100: var(--color-slate-100);
    --color-neutral-200: var(--color-slate-200);
    --color-neutral-300: var(--color-slate-300);
    --color-neutral-400: var(--color-slate-400);
    --color-neutral-500: var(--color-slate-500);
    --color-neutral-600: var(--color-slate-600);
    --color-neutral-700: var(--color-slate-700);
    --color-neutral-800: var(--color-slate-800);
    --color-neutral-900: var(--color-slate-900);
    --color-neutral-950: var(--color-slate-950);

    /* --font-sans: Gaultier, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    /* --font-serif: Lavigne, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif; */
    /* --font-mono: Anonymous, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */

    --font-weight-*: initial;
    /* --font-weight-hairline: 100; */
    /* --font-weight-thin: 200; */
    /* --font-weight-light: 300; */
    --font-weight-normal: 400;
    /* --font-weight-medium: 500; */
    /* --font-weight-semibold: 600; */
    --font-weight-bold: 700;
    /* --font-weight-extrabold: 800; */
    /* --font-weight-black: 900; */
}

@layer base {
    html {
        color: var(--color-neutral);
        /* Set sans, serif or mono stack with optional custom font as default. */
        font-family: var(--font-sans);
        /* font-family: var(--font-serif); */
        /* font-family: var(--font-mono); */
    }
}
/* * {
    outline: 1px solid red;
} */
.js-hero-title {
    display: inline-block;
    color: white; /* fallback color */
    padding-bottom: 0.25em;
    overflow-wrap: break-word;
    text-shadow:
        0 0 4px rgba(255, 255, 255, 0.3),
        0 0 8px rgba(255, 215, 0, 0.2);
}

.hero-word {
    display: inline-block;
    white-space: pre;
    will-change: transform, opacity;
}

.highlighted-word {
    color: #facc15; /* Tailwind yellow-400 */
    font-weight: 600;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 1000px;
    color: #f8f0ff;
}

.timeline ol {
    position: relative;
    list-style: none;
    --divider-height: 0%; /* Default height of the timeline divider */
}

.timeline ol::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: var(
        --divider-height
    ); /* Dynamically set height using the custom property */
    background: #cc66ff;
    transition: height 0.3s ease; /* Optional transition if you want smoothness */
}

.timeline ol li .item-inner {
    padding: 20px 180px;
    margin-bottom: 8vh;
}

.timeline ol li .time-wrapper {
    position: relative;
    font-size: 4.5rem;
    font-weight: bold;
    line-height: 0.9;
}

.timeline ol li .time-wrapper::before,
.timeline ol li .time-wrapper::after {
    content: "";
    position: absolute;
    background: #cc66ff;
}

.timeline ol li .time-wrapper::before {
    top: 50%;
    left: -180px;
    transform: translateY(-50%);
    width: 0;
    height: 3px;
    transition: width 0.3s linear;
}

.timeline ol li .time-wrapper::after {
    top: calc(50% - 8px);
    left: -60px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: scale(0);
    transform-origin: left center;
    transition: all 0.3s linear;
}

.timeline ol li time,
.timeline ol li .details,
.timeline ol li .details > * {
    opacity: 0;
    transition: 0.3s;
}

.timeline ol li time {
    display: inline-block;
    transform: translateY(-30px);
}

.timeline ol li .details {
    position: relative;
    margin-top: 2rem;
}
.timeline ol li .details,
.timeline ol li .details > * {
    transform: translateY(30px);
}

.timeline ol li .details h3 {
    font-size: 2rem;
    line-height: 1;
    margin: 15px 0;
}

/* ANIMATION STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ol li.in-view .time-wrapper::before {
    width: 120px;
}

.timeline ol li.in-view .time-wrapper::after {
    transition-delay: 0.3s;
    transform: scale(1.5);
}

.timeline ol li.in-view time,
.timeline ol li.in-view .details,
.timeline ol li.in-view .details > * {
    opacity: 1;
    transform: none;
}

.timeline ol li.in-view time {
    transition-delay: 0.5s;
}

.timeline ol li.in-view .details h3 {
    transition-delay: 0.7s;
}

.timeline ol li.in-view .details p {
    transition-delay: 0.8s;
}

/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 700px) {
    .timeline ol li .item-inner {
        padding: 20px 40px;
    }

    .timeline ol li .time-wrapper::before {
        display: none;
    }

    .timeline ol li .time-wrapper::after {
        left: -45px;
        transform-origin: center;
    }

    .timeline ol li.in-view .time-wrapper::after {
        transition-delay: 0s;
    }

    .timeline ol li.in-view time {
        transition-delay: 0.5s;
    }

    .timeline ol li.in-view .details h3 {
        transition-delay: 0.7s;
    }

    .timeline ol li.in-view .details p {
        transition-delay: 0.9s;
    }
}
