{{#
    @name Article
    @desc The article page builder block. It extends the prose
          typography partial.
    @set page.page_builder.article
#}}

<!-- /page_builder/_article.antlers.html -->
{{ partial:page_builder/block background_color="{{ block:background_color}}" }}
    {{ partial:typography/prose as="article" class="contents" }}
        <section
            class="fluid-grid span-content py-{{ block:top_padding }} mx-auto justify-center px-5 md:px-20"
        >
            {{ article }}
                {{ partial src="components/{type}" class='justify-center items-center px-7 py-5' type="{type}" }}
            {{ /article }}
        </section>
    {{ /partial:typography/prose }}
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_article.antlers.html -->
