{{#
    @name Carousels
    @desc The Carousels page builder block.
    @set page.page_builder.carousels
#}}

{{ partial:page_builder/block }}
    <section
        class="carousel-block py-12"
        role="region"
        aria-label="Event Carousel"
    >
        <div class="swiper horizontal-swiper">
            <div class="swiper-wrapper">
                {{ slides }}
                    <div class="swiper-slide">
                        <div
                            class="img-wrapper space-y-4 rounded-lg bg-white shadow-md"
                        >
                            <!-- Nested vertical swiper -->
                            <div
                                class="nested-swiper swiper flex flex-col"
                                role="group"
                                aria-label="Poster Set"
                            >
                                <div class="swiper-wrapper w-full">
                                    {{ posters }}
                                        <div class="swiper-slide">
                                            <img
                                                src="{{ url }}"
                                                alt="Event poster image"
                                                loading="lazy"
                                                class="h-full w-full object-contain"
                                            />
                                        </div>
                                    {{ /posters }}
                                </div>

                                <div
                                    class="swiper-button-up"
                                    aria-label="Previous poster"
                                ></div>
                                <div class="swiper-pagination-vertical"></div>
                                <div
                                    class="swiper-button-down"
                                    aria-label="Next poster"
                                ></div>
                            </div>
                        </div>
                    </div>
                {{ /slides }}
            </div>

            <!-- Horizontal nav + pagination -->
            <div class="swiper-button-prev" aria-label="Previous item"></div>
            <div class="swiper-button-next" aria-label="Next item"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>
{{ /partial:page_builder/block }}
