{{#
    @name Vertical Timeline with Dots on Divider
    @desc Display upcoming events with dots placed along the vertical divider.
#}}

<!-- /page_builder/_upcoming-events-timeline-with-dots.antlers.html -->
{{ partial:page_builder/block }}
    <section
        class="span-content relative flex min-h-screen w-full flex-col overflow-hidden bg-[conic-gradient(at_top_left,_var(--tw-gradient-stops))] from-violet-400 via-slate-900 to-lime-500"
    >
        <section class="timeline">
            {{ partial:typography/h2 class="text-5xl md:text-7xl text-white mb-10" :content="title" }}
            <ol id="timeline-events" data-progress="0">
                {{ events:upcoming collection="events" limit="7" }}
                    <div
                        class="display-none hidden"
                        data-start-date="{{ start format="j M" }}"
                        data-end-date="{{ end format="j M" }}"
                        data-start-time="{{ start format="g:i A" }}"
                        data-end-time="{{ end format="g:i A" }}"
                        data-title="{{ title }}"
                        data-description="{{ description }}"
                        data-location-name="{{ location_name }}"
                        data-location-url="{{ location_url }}"
                    ></div>
                {{ /events:upcoming }}
            </ol>
        </section>
    </section>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_upcoming-events-timeline-with-dots.antlers.html -->
