{{#
    @name Vertical Timeline with Dots on Divider
    @desc Display upcoming events with dots placed along the vertical divider.
#}}

<!-- /page_builder/_upcoming-events-timeline-with-dots.antlers.html -->
{{ partial:page_builder/block }}
    <section
        class="span-content relative flex min-h-screen w-full flex-col overflow-hidden bg-[conic-gradient(at_top_left,_var(--tw-gradient-stops))] from-violet-400 via-slate-900 to-lime-500"
        style="
            background-image: conic-gradient(
                at top left,
                #a78bfa,
                #0f172a,
                #84cc16
            );
        "
    >
        <section class="timeline">
            {{ partial:typography/h2 class="text-5xl md:text-7xl text-white mb-10" :content="title" }}
            <ol id="timeline-events" data-progress="0"></ol>
        </section>
    </section>
{{ /partial:page_builder/block }}
<!-- End: /page_builder/_upcoming-events-timeline-with-dots.antlers.html -->
